.ac_loading {
  background: none;
}
.ac_odd {
  background-color: #fff;
}
.ac_over {
  background-color: #41A6F0;
  color: #fff!important;
}
.ac_over h4{
  color: #fff;
  text-decoration: underline;
}
